.main-display{
  max-width: 33%;
  height: 15em;
  margin: 0 auto;
  text-align: center;

  border: 1px solid black;
  background-color: rgba(255,255,255,.75);  
  margin: 10% auto;
}

.farsi-display{
  font-size: 5em;
   
}
.form-input{
  margin: 15px auto;
}

.form-input input {
  text-align: center;
}