.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 5em; */
  background-color: rgb(116, 187, 242);
  margin: 0 auto;
  height: 22vh;
}
.iran-logo{
  height: 9vw;
  margin: 4vh auto;
}
.header-bar h1{
  color: black;
  font-size: 11vw;
  font-family: 'Aladin', cursive;
  margin: 4vh auto;
}
.logout-button{
  position: absolute;
  font-size: 18px;
  right: 0;
  background-color: transparent;
  border: 1px solid black;
  margin: 5px;
}

@media screen and (max-width: 910px) {

}
@media screen and (orientation: landscape) {

}