.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10em;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  height: 15vh;
}
.iran-logo{
  height: 90%;
  padding: 8px;
}
.header-bar h1{
  color: black;
  font-size: 5em;
  font-family: 'Aladin', cursive;
}
.logout-button{
  float: right;
  font-size: 18px;
}