.welcome-screen h2{
  text-align: center;
  margin: -.4em auto .3em auto;
  font-size: 1.1em;
}

.welcome-screen{
  max-width: 66%;
  border: 1px solid black;
  background-color: rgba(255,255,255,.8);  
  margin: 1.75% auto;
  padding: 1em;
}
.welcome-screen a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: .8em;
}
.welcome-screen a:hover {
  color: blue;
}
.welcome-screen p{
  text-align: center;
  font-size: .8em;
  margin: 0 auto;
}

@media screen and (orientation: portrait) {
  .welcome-screen{
    margin: 7.75% auto;
  }
}
@media screen and (min-width: 600px) {
  .welcome-screen p{
    font-size: 1em;
  }
}
@media screen and (min-width: 900px) {
  .welcome-screen h2{
    margin: 0em auto .3em auto;
    font-size: 1.5em;
  }
  .welcome-screen p{
    font-size: 1.2em;
  }
  .welcome-screen{
    max-width: 450px;
  }
  .welcome-screen a {
    font-size: 1em;
  }
  .welcome-screen p{
    max-width: 66%; 
  }
}
